{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 - {{ board.title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include "board/navi_bar.html" %}
{% block content %}
{% endblock %}
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/index/" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ board.title }} - {{ board.author }}</h5>
            <p class="card-text"><small class="text-muted">{{ board.created_date | date:"Y-m-d h:i" }}</small></p>
            <p class="card-text">{{ board.content }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        {% if author %}
        <div class="col-auto"> 
            <a class="btn btn-info" href="{% url 'board:board_edit' id=board.id %}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <a href = "{% url 'board:board_delete' id=board.id %}" class = "btn btn-info">삭제</a>
        </div>
        <div class="col-auto">
            <a href ="/index/" class="btn btn-info" type="submit" role="button"> 취소</a>
            </div>
        {% else %}
        <div class="col-auto">
            <a href ="/index/" class="btn btn-info" type="submit" role="button"> 취소</a>
            </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
