<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <title>AIVLE 최강4반 통장잔고 1조</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  .right {
      float right
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0" href="/main">
  <h1><a href="/main" style="color: #FB7A01;">펫투유</a></h1>
  <br>
  <p>펫투유는 django를 활용하여 회원간의 소통, 주변가게 검색을 목적으로 하는 웹사이트입니다.</p> 
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/main">PET_TO_YOU</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../index">게시물 작성</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../chat">채팅 하기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../gps/shop">주변 가게 검색</a>
      </li>
    </ul>
  </div> 

  <div id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">     
      {% if user.is_authenticated %}
        <p style="display:inline-block; color: white; margin-right: 20px; padding: 0; padding-top: 15px;">{{user.username}} {{session_id}}님 환영합니다</p>          
      </div>            
      <a href="{% url 'member:user_logout' %}" class="n avbar-brand d-flex align-items-center"><strong>로그아웃</strong></a>
      {% else %}
      <a href="{% url 'member:user_login' %}" class="n avbar-brand d-flex align-items-center"><strong>로그인</strong></a>
      {% endif %}
  </li>
    </ul>
  </div>
</nav>
<div style="margin-top:30px">
  {% include "board/side_bar.html" %}
  {% block side %}
  {% endblock %}
</div>
<div class="container" style="margin-top:30px;>
  <!--사이드 바-->
  {% comment %} <div class="row">
    <div class="col-sm-4">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="../main">PET_TO_YOU</a> 
          <!-- 홈 화면으로 -->
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">수도권 4반 1조</a>
          <!-- 반 조이름 -->
        </li>
        <!-- 각 기능별 링크  -->
        <li class="nav-item">
          <a class="nav-link" href="../index">게시물 작성</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../chat/index">채팅 하기</a>
        </li>
        <li class="nav-item" sfloat:right>
          <a class="nav-link" href="../gps/shop">주변 가게 검색</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div> {% endcomment %}
    
    <div class="col-sm-8">
      <h2>로그인, 회원가입</h2>
      <div>
        <img src="{%static 'img/login_image.png' %}" width="830" height="500px">
        <p>회원가입시 사용했던 정보들을 활용하여 개인의 정보를 조회할 수 있는 기능입니다.</p>
      </div>

      <br>
      <hr>

      <h2>게시판</h2>
      <div>
        <img src="{%static 'img/board_list_image.png' %}" width="830" height="500px">
        <p>django와 DB를 활용하여 회원정보를 통해서 게시물을 작성하고 수정, 삭제가 가능합니다.</p>
      </div>
      
      <br>
      <hr>

      <h2>채팅</h2>
        <div><img src="{%static 'img/chat_image.png' %}" width="830" height="500px">
        <p>django의 Channel 라이브러리를 통해 WebSocket 프로토콜로 실시간으로 채팅할 수 있습니다.</p>
      </div>

      <br>
      <hr>


      <h2>주변 가게 검색</h2>
      <div>
        <img src="{%static 'img/shop_image.png' %}" width="830" height="500px">
        <p>GeoCoder와 카카오api를 통해 사용자 주소 근방의 가게들을 검색 할 수 있습니다.
      </div>
    </div>
    
    
    
    
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>AIVLE 4반 1조 MINI_PROJECT</p>
</div>

</body>
</html>
