<div class="container" style="margin-top:30px">
    <!--사이드 바-->
    <div class="row">
      <div class="col-sm-4">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="../main">PET_TO_YOU</a> 
            <!-- 홈 화면으로 -->
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">수도권 4반 1조</a>
            <!-- 반 조이름 -->
          </li>
          <!-- 각 기능별 링크  -->
          <li class="nav-item">
            <a class="nav-link" href="../index">게시물 작성</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../chat/index">채팅 하기</a>
          </li>
          <li class="nav-item" sfloat:right>
            <a class="nav-link" href="../gps/shop">주변 가게 검색</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
    </div>
<div>
{% block side %}
{% endblock %}