{% load static %}
<!DOCTYPE html>
<html lang="ko">
<html>
<head>
    <title>Login</title>
    {% comment %} <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    {% include "board/navi_bar.html" %}
    {% block content %}
    {% endblock %}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
            <div class="container d-flex justify-content-between">
                <a href="/index/" class="navbar-brand d-flex align-items-center">
                    <h2><strong>Login 화면</strong></h2>
                </a>
            </div>
        </div>
    </header>
    
    {% comment %} <div style="margin-top:30px float:left"> {% endcomment %}
    
    <div class="container" style="margin-top:30px">
        <!--사이드 바-->
        <div class="row">
            {% include "board/side_bar.html" %}
            {% block side %}
            {% endblock %}
            <div class="col-md-8">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>                    
                    <button type="submit" class="btn btn-default">Submit</button>
                    <a href= /member/signup><input type='button' class="btn btn-default" value='회원가입'></a>
                    </body>                    
                
                </form>
            </div>
        </div>
    </div>
</body>

</html>